@import "variables";

.transition-fade {
  &-enter-active,
  &-leave-active {
    transition: opacity $transition;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.transition-fade-height {
  &-enter-active {
    transition: all $transition;
  }

  &-enter-from {
    height: 0;
    padding: 0;
    opacity: 0;
  }

  &-enter-to {
    height: 25px;
    opacity: 1;
  }
}
