$color-main: #1a1c24;
$color-main-light: #1f2029;

$color-grey: #333541;
$color-grey-1: #dcdcdc;
$color-grey-2: #969696;

$color-dark: #141419;

$color-yellow: #e9b10b;

$transition-duration: 0.25s;
$transition: $transition-duration ease;
